---
import Main from "../layouts/Main.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Not found">
    <Main>
<div class="bg-custom-white shadow px-4 py-8 text-custom-black text-center">
    <h1 class="text-4xl font-bold mb-1">Not found</h1>
    <p>Sorry, the page you're looking for doesn't exist.</p>
<div class="mt-8">
    <a href="/" class="bg-custom-green text-custom-white font-medium px-4 py-3 rounded">Go back to the home page</a>
    </div>
</div>
    </Main>
</Layout>
