---
import Main from "../layouts/Main.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Not found">
    <Main>
        <p>
         this is error page
        </p>
    </Main>
</Layout>
