---
import Main from "../layouts/Main.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="About Us">
    <Main>
 <div class="text-center mb-8">
    <h1 class="text-custom-black text-3xl font-bold">About Us</h1>
     </div>
<div class="flex justify-between space-x-6 md:flex-row flex-col space-y-6 items-center">
<div class="text-justify text-custom-black">
    <h1 class="text-2xl font-bold mb-4">
About Astroproject
    </h1>
    <p>
        astroproject is an on-demand platform that offers a wide selection of interactive, expert-led codes on a variety of subjects. Our mission is to make education accessible and affordable to learners around the world. We strive to provide a high-quality learning experience by partnering with industry professionals and qualified teachers to develop and deliver our codes. Whether you're looking to gain new skills, advance your career, or simply satisfy your curiosity, astroproject has something for everyone.
    </p>
</div>
<img src="https://dynoacademy.com/assets/about.png" alt="" srcset="" class="md:w-[25rem] lg:w-[50rem]">
</div>
    </Main>
</Layout>
