---
import Main from "../layouts/Main.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Contact Us">
    <Main>
 <div class="text-center mb-8">
    <h1 class="text-custom-black text-3xl font-bold">Contact Us</h1>
    <p class="text-custom-black"> "Don't let questions hold you back. Contact us and get the answers you need."</p>
 </div>
 <div class="shadow bg-custom-white  py-12 flex justify-around items-center flex-col space-y-10 md:flex-row md:space-y-0  text-custom-black">

      <div class="text-center">
        <h1 class="text-2xl font-bold">Need Help?</h1>
        <p class="mb-8">our support team is here for you.</p>

 <div  class="flex items-center">
       <h1 class="font-semibold text-xl ">Join Our Facebook Group</h1>
    <a href="facebookpage" class="bg-custom-green px-4 py-2 ml-4 rounded-md font-semibold text-custom-white">Join Now</a>
 </div>
  </div>

<div class="flex flex-col space-y-6 text-center">
    <h1 class="text-2xl font-bold">
Contact Us
    </h1>
<div class="flex flex-col space-y-2 text-center">
    <a class=" hover:text-custom-green duration-400 ease-in-out hover:font-bold" href="tel:+9779888888888">+977 988 888 8888</a>
<a class=" hover:text-custom-green duration-400 ease-in-out hover:font-bold" href="mailto:+astroproject@gmail.com">astroproject@gmail.com</a>
</div>
</div>

 </div>
    </Main>
</Layout>
