---
import Layout from '../layouts/Layout.astro';
import Main from '../layouts/Main.astro';
---

<Layout title="Online Tutorials & Blogs">
	<Main>
<div class="bg-custom-green text-center md:py-16 py-8 text-custom-white">
	<h1 class="text-4xl font-extrabold">Learn to Code</h1>
	<p class="font-medium my-4"> 
		Here are some of the best online tutorials and blogs to learn to code.
	</p>

	<div class="mx-4 mt-8 bg-slate-600 flex justify-between items-center md:flex-row flex-col space-y-8 md:space-y-0  px-4 py-8">
<div class="bg-custom-white text-custom-black px-4 py-8 rounded">
	<h1 class="font-bold text-2xl">
		Flutter
	</h1>
	<p>The language for building mobile apps</p>
<div class="mt-6">
	<a class="bg-custom-black px-4 py-2 rounded text-white" href="/flutter/overview">Learn Flutter</a>
</div>
</div>
<div class="bg-custom-white text-custom-black px-4 py-8 rounded">
	<h1 class="font-bold text-2xl">
		HTML
	</h1>
	<p>The language for building web pages</p>
<div class="mt-6">
	<a class="bg-custom-black px-4 py-2 rounded text-white" href="/html/overview">Learn HTML</a>
</div>
</div>
	</div>
</div>
	</Main>
</Layout>

