---
import {Image} from "astro:assets"
import { getCollection } from "astro:content";

const url = Astro.url.pathname ? Astro.url.pathname.split('/')[1] : undefined;

	const posts = await getCollection('html');


       const html = posts.find(post => post.data.index === 1);
       const flutter = posts.find(post => post.data.index === 1);
    

---



<header  class="relative"
>
<div class=" flex justify-center">
        <a href="/" class="flex justify-center items-center py-4 ">
        <Image
            src="https://media.istockphoto.com/id/469532554/photo/bahakapur-nepal.jpg?s=612x612&w=0&k=20&c=9RHmLtdaPTJdtzpz86DQDW98X-WrT5FaUdas6mXKEHM="
            alt="rhythm nation logo"
            width={64}
            height={64}
            format="webp"
            class="w-16"
        />

        <p class="uppercase text-3xl text-zinc-900">blog</p>
    </a>
</div>
       <nav class=" bg-custom-green mb-6">
       <div class="flex items-center container mx-auto overflow-auto">
                <a href={`/html/${html?.slug}`} class={`text-white px-8 rounded-sm py-4 ${url === html && 'bg-custom-black font-bold'} hover:bg-custom-black`}>HTML</a>
                <a href={`/flutter/${flutter?.slug}`} class={`text-white px-8 rounded-sm py-4 ${url === flutter && 'bg-custom-black font-bold'} hover:bg-custom-black`}>Flutter</a>
       
       </div>
                     
                  </nav>
</header>
