---
import {Image} from "astro:assets"
import { getCollection } from "astro:content";
import fs from 'fs-extra'

function kebabToTitleCase(str: any) {
  return str.split('-')
            .map((word:any) => word.charAt(0).toUpperCase() + word.slice(1))
            .join(' ');
}


const url = Astro.url.pathname ? Astro.url.pathname.split('/')[1] : undefined;


       const directories = fs.readdirSync("./src/content", { withFileTypes: true })
    .filter((dirent: any) => dirent.isDirectory())
    .map((dirent:any) => dirent.name)

    const data: any = {}

    for (const directory of directories) {
        const posts = await getCollection(directory);
        data[directory] = posts.find((post:any) => post.data.index === 1)
    }
    
---



<header  class="relative"
>
<div class=" flex justify-center">
        <a href="/" class="flex justify-center items-center py-4 ">
        <Image
            src="https://media.istockphoto.com/id/469532554/photo/bahakapur-nepal.jpg?s=612x612&w=0&k=20&c=9RHmLtdaPTJdtzpz86DQDW98X-WrT5FaUdas6mXKEHM="
            alt="rhythm nation logo"
            width={64}
            height={64}
            format="webp"
            class="w-16"
        />

        <p class="uppercase text-3xl text-zinc-900">blog</p>
    </a>
</div>
       <nav class=" bg-custom-green mb-6">
       <div class="flex items-center container mx-auto overflow-auto">
         {Object.entries(data).map(([key, value]) => {
            return (
                <a href={`/${key}/${(value as any).slug}`} class={`text-white px-8 rounded-sm py-4 ${url === key && 'bg-custom-black font-bold'} hover:bg-custom-black`}>{kebabToTitleCase(key)}</a>
         )           })}
       </div>
                     
                  </nav>
</header>
