---
import Header from "./Header.astro"
import Footer from "./Footer.astro"
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
	description?: string;
}

const { title , description="a community for programmers where you can find blogs and programming related content"} = Astro.props;
---

<!doctype html>
<html lang="en" class="min-h-screen">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions	/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<title>{`${title} | project name`}</title>
		
	</head>
 <body class="mx-auto font-Montserrat">
<main>
	         <Header />
        <slot />
        <Footer />
</main>
    </body>

</html>

